
.box{
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 30px;
    background-color: #181925;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 60vh;
}
.box input{
    padding: 0.5rem;
    border-radius: 5px;
}
.box button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #1B998B;
    border: #1B998B;;
}